/* 
==============================
footer .google-review
==============================
*/
.google-review .info-box {
  display: flex;
  gap: 15px;
}
.google-review .info-box .text-wrap ul {
  display: flex;
  list-style: none;
  margin-left: 0;
  gap: 16px;
}
.google-review .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.google-review {
  padding: 10px 0;
  background-color: rgb(247, 247, 247);
  margin-top: 20px;
}

/* 
==============================
footer .main-footer
==============================
*/
.main-footer .flex-box {
  display: flex;
  gap: 15px;
}
.main-footer .flex-box .footer-item.sm1 {
  width: 25%;
}

.main-footer .flex-box .footer-item.sm2 {
  width: 18%;
}

.main-footer .flex-box .footer-item.sm3 {
  width: 22%;
}

.main-footer .flex-box .footer-item.sm4 {
  width: 25%;
}

.main-footer .flex-box .footer-item.sm5 {
  width: 10%;
  /* text-align: right; */
}

.main-footer .flex-box ul {
  margin-left: 0;
  /* list-style: none; */
  list-style-type: circle;
  margin-left: 16px;
}

.main-footer .flex-box h4 {
  margin-bottom: 6px;
  /* margin-left: 20px; */
}

.main-footer .flex-box ul li {
  margin-bottom: 7px;
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* 
==============================
footer .footer-copyright
==============================
*/
.footer-copyright .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright .flex-box .payments-images {
  display: flex;
}

.footer-copyright {
  padding: 10px 0;
  background-color: rgb(247, 247, 247);
}

.footer-copyright .footer-bottom-flex {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.footer-copyright .footer-bottom-flex .footer-social {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-copyright .footer-bottom-flex .footer-social .social-icons {
  display: flex;
  gap: 7px;
  /* align-items: center; */
}

.footer-copyright .footer-bottom-flex .footer-social .social-icons a {
  background: var(--light-blue);
  color: #ddd;
  width: 24px;
  height: 24px;
  border-radius: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright .footer-bottom-flex .footer-social .social-icons a svg {
  color: #fff;
  font-size: 12px;
}

.footer-copyright .footer-links {
  display: flex;
  gap: 19px;
}

.footer-copyright .footer-links a {
  font-size: 14px;
  color: var(--light-blue);
}

.footer-copyright .footer-bottom-flex .footer-social span.social-title {
  font-size: 14px;
  color: var(--light-blue);
}

.footer-copyright .footer-payments {
  display: flex;
}

/* 
==============================

==============================
*/

.google-review ul li a {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.google-review ul li a svg {
  font-size: 16px;
}

.google-review .info-box img {
  height: 40px;
  width: auto;
  position: relative;
  top: 4px;
}

.google-review .google-icon {
  display: flex;
  gap: 20px;
}

.google-review .google-icon img.google-find-us {
  height: 45px;
  width: auto;
}

.google-review .google-icon img.google-verified-reviews {
  width: auto;
  height: 45px;
}

.main-footer .flex-box ul li a {
  font-size: 14px;
  font-weight: 500;
}

.main-footer .flex-box ul li::marker {
  color: var(--blue-color);
}
