:root {
  --background: #ffffff;
  --text-color: #222222;
  --blue-color: #192b63;
  --blue-g-color: linear-gradient(90deg, #192b63 0%, #3357c9 100%);
  --gray-color: #f7f7f7;
  --light-blue: #224c92;
  --blue: #004b78;
  --radius: 14px;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.3s ease;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-open-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
"--font-open-sans
font-family: var(--font-inter), sans-serif;
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  margin-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter), sans-serif;
}

h1 {
  color: var(--blue-color);
  letter-spacing: -0.802px;
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
}

h2 {
  color: var(--blue-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

h3 {
  color: var(--blue-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}

h4 {
  color: var(--blue-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
h5 {
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-center {
  text-align: center;
  max-width: 840px;
  margin: 60px auto 30px;
}
.header-center p {
  margin-top: 15px;
}

.space-top-60 {
  margin-top: 60px;
}
.space-bottom-60 {
  margin-bottom: 60px;
}

.btn-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn input[type="submit"],
button {
  border: none;
  outline: none;
}

.btn input[type="submit"],
.btn button,
.btn a {
  display: inline-block;
  background: var(--blue-g-color);
  color: var(--background);
  padding: 12px 30px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--font-inter), sans-serif;
  letter-spacing: 0.5px;
}
.btn input[type="submit"]:hover,
.btn button:hover,
.btn a:hover {
  background: linear-gradient(90deg, #3357c9 0%, #192b63 100%);
  transform: scale(1.02);
}
.btn.btn2 a,
.btn.btn2 button {
  padding: 4px 20px;
  font-size: 15px;
}

/* 
===============================

==============================
*/

section.urgent-print-cta .cta-box {
  background-color: var(--light-blue);
  border-radius: 10px;
  padding: 20px 30px;
  margin: 50px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.urgent-print-cta .cta-contact {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}
section.urgent-print-cta .cta-contact a {
  font-size: 17px;
  font-weight: 600;
  color: var(--background);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 9px;
}
section.urgent-print-cta .cta-contact a:hover {
  text-decoration: underline;
}
section.urgent-print-cta .cta-box h4 {
  margin-bottom: 14px;
  /* font-weight: 600; */
  /* color: #fff; */
  color: var(--background);
}
section.urgent-print-cta .cta-contact a svg {
  display: flex;
  width: 18px;
  height: 18px;
}
section.urgent-print-cta .cta-contact a span {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  border: 1px solid #dde3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.urgent-print-cta .btn a {
  background: var(--background);
  color: var(--light-blue);
}
