/* 
==========================
  sub-hero
==========================
*/
/* 🔵 Overlay */
section.sub-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 40%); /* blue overlay 65% opacity */
  z-index: -1;
}
.sub-hero h1 {
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
section.sub-hero {
  position: relative;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 80px 0;
  z-index: 1;
  overflow: hidden;
}
