/* 
==============================
print-steps-section
==============================
*/
section.print-steps-section .grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  background: var(--blue-g-color);
  border-radius: 20px;
  padding: 20px 20px;
}

section.print-steps-section .grid-box svg {
  color: #ffd913;
  font-size: 48px;
}

section.print-steps-section .grid-box h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: -7px;
}

section.print-steps-section .grid-box p {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}

section.print-steps-section .grid-box .item {
  text-align: center;
}

section.print-steps-section .header-center {
  max-width: 800px;
}
